target/
!.mvn/wrapper/maven-wrapper.jar
.vscode/
.idea/
.git/
.gitignore
*.log
Dockerfile
.dockerignore
docker-compose.yml
mvnw
mvnw.cmd
pom.xml.tag
pom.xml.releaseBackup
pom.xml.versionsBackup
pom.xml.next
release.properties
