DB_URL=jdbc:<DB_URL>
DB_USERNAME=<DB_USERNAME>
DB_PASSWORD=<DB_PASSWORD>
SERVER_PORT=8080
SERVER_DOMAIN=http://localhost:8080
SPRING_LOG_LEVEL=DEBUG
HIBERNATE_LOG_LEVEL=ERROR
GCP_PROJECT_ID=<GCP_PROJECT_ID>
GCP_CREDENTIALS_LOCATION=<GCP_CREDENTIALS_LOCATION>
JWT_SECRET_KEY=<JWT_SECRET_KEY>
JWT_EXPIRATION=<JWT_EXPIRATION>
JWT_COOKIE_NAME=<JWT_COOKIE_NAME>
JWT_REFRESH_EXPIRATION=<JWT_REFRESH_EXPIRATION>
JWT_REFRESH_COOKIE_NAME=<JWT_REFRESH_COOKIE_NAME>
GCS_BUCKET_NAME=<GCS_BUCKET_NAME>
GCS_SUBDIRECTORY=<GCS_SUBDIRECTORY>
EMAIL_MOCK_ENABLED=false
EMAIL_SMTP_ENABLED=true
EMAIL_SMTP_FROM=<EMAIL_SMTP_FROM>
SMTP_HOST=<SMTP_HOST>
SMTP_PORT=<SMTP_PORT>
SMTP_TLS=<SMTP_TLS>
SMTP_USERNAME=<SMTP_USERNAME>
SMTP_PASSWORD=<SMTP_PASSWORD>
EMAIL_REST_ENABLED=false
EMAIL_REST_API_KEY=<EMAIL_REST_API_KEY>
EMAIL_REST_FROM=<EMAIL_REST_FROM>
STRIPE_SECRET_KEY=<STRIPE_SECRET_KEY>
STRIPE_WEBHOOK_SECRET=<STRIPE_WEBHOOK_SECRET>
GRAPHIQL_ENABLED=true
